
<app-drinks></app-drinks>
<button (click)="searchCoctailType()">filter</button>


<div (load)="searchCoctailType()">
  <ul>
    <div *ngIf="response">
      <div *ngFor="let c of response.drinks">
        {{c.strCategory}}
        <div (loadstart)="loadingCoctails(c.strCategory)">
          <div *ngIf="response">
            <div *ngFor="let d of response.drinks">
              {{d.strDrink}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>

<div >
  <ul>
    <li *ngIf="response">
      <label *ngFor="let c of response.drinks">
        {{c.strCategory}}
        <input type="checkbox"
               value={{c.strCategory}}>
      </label>
    </li>
  </ul>
</div>


